$zero: 0px;
$input_font_size: 30px;
$input_height_size: 40px;
$type_font_size: 30px;
$type_height_size: 40px;
$type_width_size: 90px;

/*Styling reset for whole site*/
* {
  border: $zero;
  margin: $zero;
  padding: $zero;
}

/**/
/*Whole body styling*/
/**/

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/**/
/*Styling for header*/
/**/

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgrey;
}
header > h1 {
  padding: 20px;
}

/*Styling for header buttons "ADD", "MASS DELETE"*/

.add-delete-button {
  display: flex;
  list-style: none;
}
#add-product-btn {
  border-radius: 5px;
  color: white;
  padding: 10px;
  background-color: green;
  cursor: pointer;
}
.add-product-button-wrapper {
  padding: 20px 5px 20px 20px;
}
#delete-product-btn {
  border-radius: 5px;
  color: white;
  padding: 10px;
  background-color: red;
  cursor: pointer;
}
.delete-product-button-wrapper {
  padding: 20px 20px 20px 0px;
}

/**/
/*Content styling*/
/**/

.content {
  flex: 1 0 auto;
}

/*Input form styling*/

#product_form {
  margin-top: 50px;
}
#product_form > div {
  white-space: nowrap;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 19px;
}
#product_form > div > input {
  font-size: $input_font_size;
  height: $input_height_size;
  border: 1px solid lightgrey;
}
#product_form > div:nth-child(1) > input {
  margin-left: 60px;
}
#product_form > div:nth-child(2) > input {
  margin-left: 53px;
}
#product_form > div:nth-child(3) > input {
  margin-left: 32.4px;
}

/*Type switcher styling*/

#type-switcher {
  font-size: 19px;
}
#productType {
  margin-left: 20px;
  border: 1px solid lightgrey;
  font-size: $type_font_size;
  height: $type_height_size;
}

/*Type styling*/

#dvd {
  display: none;
}
#dvd_input_field {
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#dvd_input_field > input {
  font-size: $type_font_size;
  width: $type_width_size;
  border: 1px solid lightgrey;
  margin-left: 65px;
}

#furniture {
  display: none;
}
#furniture_input_field_0, #furniture_input_field_1, #furniture_input_field_2 {
  display: flex;
  align-items: center;
  font-size: 19px;
  padding: 29px 0px 0px;
}
#furniture_input_field_0 > input, #furniture_input_field_1 > input, #furniture_input_field_2 > input {
  font-size: $type_font_size;
  height: $type_height_size;
  border: 1px solid lightgrey;
  margin-left: 65px;
}
#furniture_input_field_1 > input {
  margin-left: 70px;
}
#furniture_input_field_2 > input {
  margin-bottom: 20px;
}

#book {
  display: none;
}
#book_input_field {
  display: flex;
  align-items: center;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#book_input_field > input {
  font-size: $type_font_size;
  width: $type_width_size;
  border: 1px solid lightgrey;
  margin-left: 65px;
}

/*Error message styling*/

//.input-validation-error {
//  border: 2px solid #f00;
//}

//This needs to be fixed, when submit is pressed, the border arround the field with the error dosen't change, jQuery pushes it's styling over the error styling specified.

/**/
/*Styling for footer*/
/**/

footer {
  flex-shrink: 0;
  padding: 20px;
  border-top: 2px solid lightgrey;
  text-align: center;
}
footer > h3 {
  font-weight: lighter;
}
